.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	display: flex;
    flex-direction: column;
	justify-content: flex-end;
	/* align-items: center; */
}

#close-icon {
    display: block;
}

#closeBtn {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    outline: none;
}
#closeBtn:hover {
    color: #337ab7;
    transform: scale(1.1);
}


/* Overriding gallery style */

#gallery-container {
    width: 100%;
}

.image-gallery-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-gallery-slide .image-gallery-image {
    object-fit: scale-down;
    /* background: red; */
    background-image: url(../assets/spinner.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide {
    height: 100%;
}

.image-gallery-index {
    right: unset;
    left: 0;
    top: 20px;
}

/* .image-gallery-image {
    position: relative;
} */

.image-gallery-slide .image-gallery-description {
    color: #337ab7;
    bottom:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:480px) {
    #close-icon {
        width: 22px;
        height: 22px;
    }

    .image-gallery-slide .image-gallery-description {
        padding: 24px;
    }

    .image-gallery-index {
        top: 0.8em;
    }
}

@media only screen and (min-width:768px) {
    #close-icon {
        width: 26px;
        height: 26px;
    }

    .image-gallery-slide .image-gallery-description {
        padding: 28px;
    }

    .image-gallery-index {
        top: 16px;
    }
}