.content-wrapper {
    width: 80vw;
    /* min-width: 350px; */
    margin: 0.5em auto;
}

.media-container {
    min-height: 70vh;
    /* padding: 1vw; */
    /* outline: 1px solid violet; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 10px 20px;
    /* column-count: 7; */
    /*column-gap: 20px; */
}

.media-container #last-content {
    margin-left: auto;
}

#no-result-text {
    align-self: flex-start;
    margin-top: 1em;
}

.stats {
    margin-bottom: 1.5em;
    color: #595c5f;
    font-size: 0.75em;
    font-family: monospace;
}
.stats span {
    /* margin-left: 1em; */
}

.content {
    /* max-height: 350px; */
    border-radius: 0.25em;
    cursor: zoom-in;
}

.content > img{
    /* height: 350px; */
    display: block;
    border-radius: 0.25em;
    object-fit: cover;
    width: 100%;
}

button {
    background-color: #1a73e8;
    color: #fff;
}

button#load_btn {
    display: block;
    margin: 1em auto;
}

#loading-icon::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    display: inline-block;
    vertical-align: middle;
    border: 0.125em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: loading-animation .85s linear infinite;
    margin-right: 0.1em;
}

@media only screen and (max-width:300px) {
    .content {
        width: 100% !important;
        margin: 5px 20px;
    }
    .media-container #last-content {
        margin-left: 0;
    }
}

/*
@media only screen and (min-width:768px) {

} */


.media-container p {
    text-align: center;
}

#photo-author {
    color: #fff;
    text-decoration: none;
}

#photo-author:hover {
    text-decoration: underline;
}


/* Media Content Author description style */
.svg-icon {
    height: 28px;
    width: 28px;
    display: block;
    position: static;
}

#user-icon {
    margin-right: 0.4em;
    height: 16px;
    width: 16px;
    cursor: initial;
}

#user-icon:hover {
    color: #fff;
}

#enlarge-icon {
    position: absolute;
    right: 24px;
}

#enlarge-icon svg {
    height: 16px;
    width: 16px;
    margin-top: 4px;
}


@keyframes loading-animation {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} 

@media only screen and (min-width:480px) {
    #user-icon {
        height: 24px;
        width: 24px;
    }
    
    #enlarge-icon svg{
        height: 22px;
        width: 22px;
        margin-top: 4px;
    }
}

@media only screen and (min-width:768px) {
    #user-icon {
        height: 30px;
        width: 30px;
    }
    
    #enlarge-icon svg {
        height: 26px;
        width: 26px;
    }
}
